<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Thank for showing up</h1>
    <p>
      It's my first express app using a database. For some reason i was actually
      nervous when i started but it's nice to feel i little more confident
    </p>
    <p>Hope you have a great day!</p>
    <p>Remember to tell the people you love how much you care about them</p>
  </body>
</html>
